@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis-Light';
  src: url('/fonts/Metropolis-Light.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis-Medium';
  src: url('/fonts/Metropolis-Medium.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Metropolis-Regular';
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
  font-style: normal;
}
